
  <nav class="topics-navbar">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        
        <!--Individual active topics-->
        <% @active = @active.map {|a| a.topic_id } %>
        <% @active = @active.uniq %>
        
        <li class="nav-item dropdown show" <%= 'active' if current_page?("/classrooms/#{@classroom.id}/active") %>>
          <a class="nav-link dropdown-toggle" href="#" id="topicsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Active Topics
          </a>
          <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/classrooms/<%= @classroom.id %>/show/active">Overview</a>
            <% @active.each do |id| %>
              <% t = Topic.find(id) %>
              <a class="dropdown-item" href="/classrooms/<%= @classroom.id %>/topics/<%= t.id %>/"><%= t.name %></a>
            <% end %>
          </div>
        </li>
        
        <li class="nav-item <%= 'active' if current_page?("/classrooms/#{@classroom.id}/past") %>">
            <a class="nav-link" href="/classrooms/<%= @classroom.id %>/show/past">Past Topics</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/classrooms/<%= @classroom.id %>/roster">
            Roster
          </a>
        </li>
      </ul>
    </div>
  </nav>

<script>
  $('.dropdown-toggle').dropdown()
</script>