<h1><%= @student.name %>'s Progress in <%= @topic.name %></h1>

<h2>Resources Viewed</h2>
  <% @viewed.each do |v| %>
    <% r = Resource.find(v.resource_id) %>
      <div class="viewed-resource-item">
        <h3><%= r.name %></h3>
        <p>Helpfulness rating: <%= v.helpful_q %></p>
        <p>Confidence rating: <%= v.confidence_q %></p>
      </div>
  <% end %>

<h2>Quiz Results</h2>

<% quizzes =  @cumulative.zip(@q_and_a_list) %>

<% quizzes.each_with_index do |l, i| %>

  <% cumulative = l[0] %>
  <% q_and_a = l[1] %>

  
  <h3>Attempt <%= i + 1 %></h3>
  <!--<h5>Attempted on </h4>-->
  <h5>Cumulative Score: <%= cumulative %></h4>
  
    <% q_and_a.each do |pair| %>
      <% q = pair[0] %>
      <% ans = pair[1] %>
      
      <% if q["question_type"] == "multiple choice" %>
        
          <div class="form-group">
            <div class="quiz-question">
              <label for="<%= q["prompt"] %>"><%= q["prompt"] %></label>
              <% q["choices"].each_with_index do |c, j| %>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answers[<%= q["id"] %>]" id="<%= q["id"] %>-<%= c %>" value="<%= c %>" required
                  <%= 'disabled' if ans["answer_index"] != j %> 
                  <%= 'checked' if ans["answer_index"] == j %> >
                  <label class="form-check-label" for="<%= q["id"] %>-<%= c %>">
                    <%= c %> <%# scoreMessage(s["score"].to_sym).html_safe if ans["submission"] == c %>
                  </label>
                </div>
              <% end %>
              <label style="margin-top: 1rem;">Justification</label>
              <text_area name="answers[<%= q["id"] %>]" class="form-control">
                <%= ans["rationale_text"] %>
              </text_area>
              
            </div>
          </div>
  
        <% elsif q["question_type"] == "free response" %>
          <div class="form-group">
            <div class="quiz-question">
              <label for="<%= q["prompt"] %>">
                <%= q["prompt"] %> 
              </label>
              <text_area name="answers[ <%= q["id"] %> ]" class="form-control">
                <%= ans["response_text"] %>
              </text_area>
              <label style="margin-top: 1rem;">Justification</label>
              <text_area name="answers[<%= q["id"] %>]" class="form-control">
                <%= ans["rationale_text"] %>
              </text_area>
              <%# scoreMessage(s["score"].to_sym).html_safe %>
            </div>
          </div>
          
        <% end %>
    <% end %>
  

<% end %>