<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @assignment.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @assignment.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @assignment.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @assignment.references %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<p>
  <strong>Resources completed:</strong>
  <%= @assignment.resources_completed %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>Quiz score:</strong>
  <%= @assignment.quiz_score %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
