<h1>Topics Awaiting Approval</h1>

<div class="container">
  <% @topics.each do |top| %>
    <%= form_tag("/topics/approve_or_destroy/#{top.id}", method: "post") do %>
      
      <h2><%= top.name %></h2>
      
      <p><%= top.description %></p>
      
      <h4>Resources</h4>
      <ul>
        <% resources = top.resource.where(approved: true) %>
        <% resources.each do |res| %>
          <li><a href="<%= resource_path(res) %>"><%= res.name %></a></li>
        <% end %>
      </ul>
      
      <div class="options">
        <button class="btn btn-success btn-sm" type="submit" name="todo" value="approve">Approve this Topic</button>
        <button class="btn btn-danger btn-sm" type="submit" name="todo" value="unapprove">Delete this Topic</button>
      </div>
      
      
      <% # TODO: Come back and make a dropdown box with the info %>
      <% # TODO: Come back and make a second list of topics that have been reviewed and not approved %>
    <% end %>
  <% end %>
</div>
  



