<h1>New Topic</h1>
<%= form_for @topic do |f| %>
  <center>
    <div class="form-group w-25">
      <%= f.label 'Topic Name' %>
      <%= f.text_field :name, class: "form-control form-control-sm" %>
    </div>
    <div class="form-group w-75">
      <%= f.label 'Topic Description' %>
      <%= f.text_area :description, class: "form-control form-control-lg" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  </center>
<% end %>



