<div class="container">
  <% if !@rec_resources.empty? %>
    <h2>Recommended Order</h2>
    <div class="recommendation-list">
      <ol>
        <% @rec_resources.each do |resource| %>
          <li><a href="/resources/show/<%= resource.id %>"><%= resource.name %></a></li>
        <% end %>
      </ol>
    </div>
  
  <% else %>
    <h2>All Resources for <%= @topic.name %></h2>
    <div class="recommendation-list">
      <ol>
        <% @resources.each do |resource| %>
          <li><a href="/resources/show/<%= resource.id %>"><%= resource.name %></a></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  
  <% if !(@past_resources.empty?) %>
  <h2>Resources You Have Viewed</h2>
  <div class="recommendation-list">
    <ol>
      <% @past_resources.each do |resource| %>
        <li><a href="/resources/show/<%= resource.id %>"><%= resource.name %></a></li>
      <% end %>
    </ol>
  </div>
  <% end %>
</div>


