<div class="container">
  <!--show all topics of the user-->
  <% topics = Topic.where(approved: true) %>
  <% assigned = Assignment.where(student_id: current_user) %>
  <% if not assigned.empty? %>
    <h2>Assigned Topics</h2>
    <ul class="topic-list">
      <% assigned.each do |a| %>
          <% topic = Topic.find(a.topic_id) %>
          <a href="topics/show/<%= topic.id %>" class="topic-item"><%= topic.name %></a>
      <% end %>
    </ul>
    
    <h2>Other Topics</h2>
    <ul class="topic-list">
      <% ids = assigned.map {|a| a.topic_id} %>
      <% topics.each do |topic| %>
        <% if not ids.include? topic.id %>
          <a href="topics/show/<%= topic.id %>" class="topic-item"><%= topic.name %></a>
        <% end %>
      <% end %>
    </ul>
  
  <% else %>
    <ul class="topic-list">
      <% topics.each do |topic| %>
          <a href="topics/show/<%= topic.id %>" class="topic-item"><%= topic.name %></a>
      <% end %>
    </ul>
  <% end %>

  <a class="navigate-button" href="resources/new">Contribute a Resource</a>
  <% if can? :create, Topic %>
      <a class="navigate-button" href="topics/new">Create a Topic</a>
  <% end %>
</div>



