<h1><%= @user.name %></h1>

<h2>Student since <%= @user.created_at.strftime("%B %d, %Y") %></h2>
  
<div class="container">
  
  <h2>Badges</h2>
  
  <button class="btn btn-primary btn-sm" onclick="location.reload()">Check for New Badges</button>
    
    <% user_badges = JSON.parse(@user.badges) %>
    <% user_badges.each do |key, val| %>
      
      <% if val["earned"] %>
        <div class="badge">
          <div>
            <%= image_tag("badge.png", height: '64', width: '64', :alt => "badge") %>
          </div>
          <div class="badge-description text-wrap">
            <h5><%= @badges[key.to_i][:title] %></h5>
            <%= @badges[key.to_i][:requirement] %></br><em>Earned on <%= val["earn_date"] %></em>
          </div>
        </div>
      <% else %>
        <div class="badge badge-disabled">
          <div>
            <%= image_tag("badge.png", height: '64', width: '64', :alt => "badge") %>
          </div>
          <div class="badge-description text-wrap">
            <h5><%= @badges[key.to_i][:title] %></h5>
            <%= @badges[key.to_i][:requirement] %>
          </div>
        </div>
      <% end %>
      
    <% end %>
  
</div>

