<div class="text-center border border-dark">
  <%= form_tag("/resources/eval", method: "post") do %>
  
    <%= hidden_field_tag 'id', @resource.id %>
    <%= hidden_field_tag 'user_id', current_user.id %>
    
    <label>How helpful was this resource?</label>
    <div class="form-group">
      <% (1..5).each do |i| %>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="helpful" id="helpful<%= i %>" value="<%= i %>" required>
          <label class="form-check-label" for="helpful<%= i %>"><%= i %></label>
        </div>
      <% end %>
    </div>
    
    <label>How confident are you in this topic now?</label>
    <div class="form-group">
      <% (1..5).each do |i| %>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="confident" id="confident<%= i %>" value="<%= i %>" required>
          <label class="form-check-label" for="confident<%= i %>"><%= i %></label>
        </div>
      <% end %>
    </div>
  
    <button class="btn btn-primary" type="submit" name="feedback" value="done">I understand now</button>
    <button class="btn btn-primary" type="submit" name="feedback" value="another">Give me another resource</button>
    
  <% end %>
</div>


