<div class="container">
  <%= form_with url: '/resources', local: true, id: "create_resource" do |form| %>
  
    <% if resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>
  
        <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <div class="form-group w-25">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= form.label "Topic" %>
        <% topics = Topic.where(reviewed:true).where(approved: true) %>
        <%= form.collection_select :topic_id, topics, :id, :name, class: "form-control", required: true %>
      </div>
    
      <div class="form-group w-50">
        <%= form.label "link" %>
        <small id="linkHelp" class="form-text text-muted">Copy and paste the link. Make sure to add "https://" at the front.</small>
        <%= form.text_field "link", class: "form-control" %>
        
      </div>
      
      <div id="link_preview">
      </div>
      
      
      <div class="form-group">
        <%= form.label "video" %>
        <small id="linkHelp" class="form-text text-muted">Copy and paste the string after the slash from the embed code.</small>
        <pre class="embed-left"><code>
          &lt;iframe width="560" height="315" 
          src="https://www.youtube.com/embed/
        </code></pre>
        <%= form.text_field "video", class: "form-control embed-code" %>
        <pre class="embed-right"><code>
            " frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>&lt;/iframe>
        </code></pre>
      </div>
      
      <div id="video_preview">
      </div>
      
      <div class="form-group w-50">
        
        <%= form.label "text" %>
        <small id="linkHelp" class="form-text text-muted">Write a resource yourself using Markdown!</small>
        <%= form.text_area "text", class: "form-control" %>
        
      </div>
    
      <div id="text_preview" class="text-preview">
        <h4>See your text appear here!</h4>
      </div>
  
      <div class="actions">
        <%= form.submit id: "submit", class: "btn btn-primary", data: { "disable-with": "Saving..." } %>
      </div>
      
    
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    $("#link").on("input", event => {
    
      const text = $("#link").val().trim();
      
      const postParameters = {
                  link: text};
      $.post("/resources/check_link", postParameters, responseJSON => {
                const responseObject = JSON.parse(responseJSON);
                if (responseObject) {
                  $("#link_preview").html("<center><div class='embed-responsive embed-responsive-16by9 w-75'><iframe class='embed-responsive-item' style='border: 2px solid black' src=" + text + " allowfullscreen>Resource could not be rendered.</iframe> </div> </center>");
                  
                  // Displays 'Not Found' page if not a valid url.
                } else {
                  $("#link_preview").html("<center><div class='embed-responsive embed-responsive-16by9 w-75'><iframe class='embed-responsive-item' style='border: 2px solid black' src='/not_found' allowfullscreen>Resource could not be rendered.</iframe> </div> </center>");
                  }
                  
      });
    });
    
    $("#text").on("input", event => {
    
      const text = $("#text").val();
      
      const postParameters = {
                  text: text};
      $.post("/resources/parse_markdown", postParameters, responseJSON => {
                const responseObject = JSON.parse(JSON.stringify(responseJSON));
                // console.log(responseObject.html);
                if (responseObject.html) {
                  $("#text_preview").html(responseObject.html);
                  } 
                
                  
      });
    });
    
    $("#video").on("input", event => {
    
      const text = $("#video").val().trim();
      // Take template for Youtube embed and only allow string after /embed/
      $("#video_preview").html("<iframe width='560' height='315' src='https://www.youtube.com/embed/" + 
      text + 
      "' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>");
    });
  });
  
  $("#create_resource").on('submit', event => {

    // Check if all of the content fields are empty.
    if (!$("#link").val() && !$("#video").val() && !$("#text").val()) {
      event.preventDefault();
      alert("At least one of the content boxes must be filled in");
      return false;
    }
  });
</script>
