<% content = JSON.parse(@resource.content) %>

<div class="resource-view">
  
  <!--Show link-->
  <% if !content["link"].empty? %>
    <% link = content["link"] %>
    <% safe_link = '/not_found' %>
    <% if valid_url?(link) %>
        <a href="<%= link %>" target="_blank">Click here if resource is not visible below (Opens in new tab)</a>
        <div class="resource-view-item embed-responsive embed-responsive-16by9 w-75">
          <iframe class="embed-responsive-item" style="border: 2px solid black" src="<%= link %>" allowfullscreen>Resource could not be rendered.</iframe>
        </div>
    <% else %>
        <a href="<%= safe_link %>">go</a>
        <div class="resource-view-item embed-responsive embed-responsive-16by9 w-75">
          <iframe class="embed-responsive-item" style="border: 2px solid black" src="<%= safe_link %>" allowfullscreen>Resource could not be rendered.</iframe>
        </div>
    <% end %>
  <% end %>
  
  <!--Show video-->
  <% if !content["video"].empty? %>
    <% video = content["video"] %>
    <div class="resource-view-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% end %>
  
  <!--Show text-->
  <% if !content["text"].empty? %>
      <% text = content["text"] %>
      <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, tables: true) %>
      <% rendered = markdown.render(text) %>
    
      <div class="resource-view-item border text-left w-50">
        <%= sanitize rendered %>
      </div>
    
  <% end %>
  
</div>

<div class="resource-feedback">
  <%= render 'feedback_form' %>
</div>

<script>
    // $( function() {
    //   $( "#draggable" ).draggable();
    // } );
</script>