<!DOCTYPE html>
<html>
  <head>
    <title>Skillwiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render 'shared/navbar' %>

  <body>
    <% flash.each do |message_type, message| %>
        <% case message_type
        when 'notice' then message_type='success'
        when 'alert' then message_type='danger'
        else name
        end %>
        <%= content_tag(:div, message, class: "text-center alert-#{message_type}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
